[submodule "riscv-binutils-gdb"]
	path = riscv-binutils-gdb
	url = https://github.com/riscv/riscv-binutils-gdb
[submodule "riscv-gcc"]
	path = riscv-gcc
	url = https://github.com/riscv/riscv-gcc
[submodule "riscv-glibc"]
	path = riscv-glibc
	url = https://github.com/riscv/riscv-glibc
[submodule "riscv-musl"]
	path = riscv-musl
	url = https://github.com/lluixhi/musl-riscv
